@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

body {
    font-family: Roboto, sans-serif;
    background-color: #3f51b5;
    color: #fff;
    font-size: 62.5%;
}

.wrapper {
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.header {
    font-weight: 300;
    font-size: 3rem;
}

.sub_header {
    font-weight: 300;
    font-size: 2.7rem;
}

.add-option {
    text-align: center;
    font-family: Roboto, sans-serif;
    width: 100%;
}

.add-option form {
    margin-bottom: 1rem;
}

.add-option__input {
    width: 20%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    vertical-align: top;
    outline: none;
}

.add-option__button {
    border: none;
    padding:.7rem 1.85rem;
    color: #053f4f;
    background-color: #61dafb;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    outline: none;
}

.remove_button {
    border: none;
    padding:.7rem 1.85rem;
    color: #fff;
    background-color: #e54513;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    outline: none;
    margin-top: 2rem;
}

.leftTitle {
    position: absolute;
    top: -28px;
}

.leftTitle p {
    font-weight: 300;
    font-size: 1rem;
}

.leftTitle p span {
    font-weight: 400;
    font-size: 1rem;
}

.options {
    width: 100%;
    margin: 0 auto;
}

.option_line {
    overflow: hidden;
    width: 25%;
    margin:0 auto;
    margin-bottom: 1rem;
}

.option_p {
    display: inline;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    margin:0;
}

.option_button_remove {
    float: right;
    border: none;
    color: #ff7043;
    background-color: transparent;
    font-weight: 100;
    font-size: 1rem;
    cursor: pointer;
}